@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/*---Media Queries --*/
@media (max-width: 992px) {
  
}
@media (max-width: 768px) {
  
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column.side2, .column.middle2 {
    width: 100%;
  }
}
@media (max-width: 576px) {
  
}

* {
  box-sizing: border-box;
}

[class*="col-"] {
  padding: 1rem;
}


body{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image:url(img/TC_background.png); /*TODO: Find your own background image and replace this --> url(img/your_image_goes_here)*/
  color: white;
}

figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}

section{
  background-color: black;
}

#my-resume{  
  padding-left: 49px;
}

.about-me{
  position: absolute;
  top: 90px;
  left: 15px;
  width: 300px;
  height: 650px;
  border: 1px solid black;
  float: left;
  padding: 10px;
  margin: 1;
}

.column {
  float: left;
  padding: 10px;
  height: 300px; 
}

.column2 {
  float: left;
  padding: 10px;
  height: 300px; 
}

.column3{
  float: left;
  bottom: 600px;
  left: 100px;
  width: 100%;
  padding: 15px;
  height: 750px;
}

.column4 {
  float: left;
  width: 100%;
  padding: 10px;
  height: 800px; 
}

.column5 {
  float: left;
  width: 33.33%;
  padding: 10px;
}

.column6{
  float: left;
    width: 33.33%;
    padding: 10px;
    height: 250px; 
    text-align: center;
  }

.column7{
  float: left;
  padding: 10px;
  height: 450px;
}

.column.middle {
  width: 48.9%;
  height: 350px;
  text-align: center;
  padding : 5px;
  border: 1px solid black;
}

.column.middle2 {
  width: 48.9%;
  height: 250px;
  text-align: center;  
}

.column.side {
  width: 25%;
  height: 350px;
  text-align: center;
  padding: 5px;
  border: 1px solid black;
}

.column.side2 {
  width: 25%;
  height: 250px;
  text-align: center;
  padding: 5px;  
}

.container-fluid{
  background-color: #74992e;
  border: 1px solid black;
}

.contact-info{
  position: absolute;
  top: 90px;
  right: 15px;
  width: 300px;
  height: 200px;
  border: 1px solid black;
  float: left;
  width: 100%;
  padding: 10px;
}

.contact-me{
  width: 25%;
  height: 350px;
  border: 1px solid black;
}

.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  
  padding-bottom: 10px;
  width: 100%;
  height: 3%;
  background-color: rgb(30, 29, 32, .75);
  color: white;
  text-align: center;
}

.head {
  background-color: #74992e;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
}

.projects{
  float: left;
  bottom: 600px;
  left: 100px;
  width: 100%;
  height: 650px;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}

.resume{
  position: relative;
  width: 800px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row2:after {
  content: "";
  display: table;
  clear: both;
  padding: 5px;
}

.row5:after {
  content: "";
  display: table;
  clear: both;
  background-color: black;
  height: 100px;
}

.row6:after {
  content: "";
  display: table;
  clear: both;
  background-color: black;
  height: 225px;
}




/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap
Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }
Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }
Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }
Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/