@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/*---Media Queries --*/
@media (max-width: 992px) {
  
}
@media (max-width: 768px) {
  
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}
@media (max-width: 576px) {
  
}

body{ /*TODO: This is where you adjust the background image for the website*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image:url(img/TC_background.png); /*TODO: Find your own background image and replace this --> url(img/your_image_goes_here)*/
  color: white;
}

#my-resume{  /*TODO: This is where you adjust the "My Resume" caption */
  padding-left: 49px;
}

.column.middle {
  width: 48.9%;
  height: 250px;
  text-align: center;  
}

.column.side {
  width: 25%;
  height: 250px;
  text-align: center;
  padding: 5px;  
}

.contact-info{
  position: absolute;
  top: 90px;
  right: 15px;
  width: 300px;
  height: 200px;
  border: 1px solid black;
  float: left;
  width: 100%;
  padding: 10px;
}

.contact-me{
  width: 25%;
  height: 350px;
  border: 1px solid black;
}

.footer { /*TODO: This is where you adjust the footer*/
  position: fixed;
  left: 0;
  bottom: 0;  
  padding-bottom: 10px;
  width: 100%;
  height: 3%;
  background-color: rgb(30, 29, 32, .75); /*TODO: This is where you adjust the footer's background color*/
  color: white; /*TODO: This is where you adjust the footer text color*/
  text-align: center;
}

.resume{
  position: relative;
  width: 800px;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap
Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }
Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }
Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }
Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/